<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schedules</title>
</head>

<body>
    <h1>Schedules</h1>
    <a href="/" class="button">Root</a>
    <a href="/configs" class="button">Configs</a>

    <form action="/schedules" method="POST">
        {% for day in ['mon', 'tues', 'weds', 'thurs', 'fri', 'sat', 'sun'] %}
        <div>
            <label for="{{ day }}">{{ day|capitalize }}:</label>
            <select name="{{ day }}" id="{{ day }}">
                {% for config_id, config_name in configs.items() %}
                <option value="{{ config_id }}" {% if config_id==schedules._asdict()[day].configId %}selected{% endif
                    %}>
                    {{ config_name }}
                </option>
                {% endfor %}
            </select>
        </div>
        {% endfor %}
        <br>
        <input type="submit" value="Update Schedule">
    </form>
</body>

</html>